@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f7f8;
}

.header-container {
  @apply w-full h-[420px] bg-zinc-900 bg-home bg-cover bg-center;
}

.header-content {
  @apply w-full h-full flex flex-col justify-center items-center;
}

.header-logotipo {
  @apply w-32 h-32 rounded-full shadow-lg hover:scale-110 duration-200;
}

.company-name {
  @apply text-3xl mt-4 mb-2 font-bold text-white;
}

.company-address {
  @apply text-white font-medium;
}

.business-hour-box {
  @apply px-4 py-1 rounded-lg mt-5;
}

.business-hour {
  @apply text-white font-medium;
}

.menu-title {
  @apply text-2xl md:text-3xl font-bold mt-9 mb-3 px-2 md:px-10 md:my-6;
}

.card-menu {
  @apply flex items-center gap-2;
}

.burguer-section {
  @apply grid grid-cols-1 md:grid-cols-2 gap-7 md:gap-10 mx-auto px-2 mb-16 max-w-7xl;
}

.product-image {
  @apply w-32 h-32 rounded-md hover:scale-95 hover:rotate-2 duration-300;
}

.product-title {
  font-size: 1.1rem;
  @apply font-bold;
}

.product-description {
  font-size: .9rem;
  text-align: justify;
}

.card-footer-box {
  @apply flex items-center gap-2 justify-between mt-3;
}

.add-to-cart-btn {
  @apply bg-gray-900 px-6;
}

.drinks-section {
  @apply grid grid-cols-1 md:grid-cols-2 gap-7 md:gap-10 mx-auto max-w-7xl px-2 mb-16;
}

.cart-modal-container {
  @apply fixed inset-0 z-50 bg-black bg-opacity-75 justify-center items-stretch md:items-center;
}

.cart-modal-content {
  @apply bg-white p-6 rounded-lg shadow-lg w-full max-w-lg overflow-y-auto h-auto md:h-[600px];
}

.cart-modal-title {
  @apply text-2xl font-semibold text-gray-800 mb-4;
}

.cart-modal-items {
  @apply space-y-4 max-h-60 overflow-y-auto;
}

.label-style {
  @apply block font-bold;
}

.input-style {
  @apply w-full border border-gray-300 rounded-lg p-2 mt-1 focus:ring-2 focus:ring-red-500 focus:outline-none;
}

.validator-message {
  @apply text-red-500 hidden text-sm mt-1;
}

.address-dropdown {
  @apply transition-all duration-300 ease-in-out;
}

.address-dropdown-btn {
  @apply font-bold cursor-pointer flex justify-between items-center;
}

.address-input {
  @apply w-full border border-gray-300 rounded-lg p-2 bg-gray-100;
}

.payment-select {
  @apply w-full border border-gray-300 rounded-lg p-2 mt-2 bg-white;
}

.close-modal-btn {
  @apply px-4 py-2 text-gray-600 hover:text-gray-800 outline-none;
}

.submit-button {
  @apply bg-red-500 text-white px-6 py-2 rounded-md font-semibold shadow-sm hover:bg-red-600 transition outline-none;
}

.cart-footer-view {
  @apply w-full bg-red-500 py-2 fixed bottom-0 z-10 flex items-center justify-center;
}

.cart-btn{
  @apply flex items-center gap-2 text-white font-bold;
}